html,
body,
header,

#intro {
    height: 100%;
}
#intro {
    background: url("http://pic.17qq.com/img_qqtouxiang/78733971.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}
.back{
    background-color: lightseagreen;
}

.container1{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    border-style: none;
    margin: 300px 100px 0px 320px;
}
